body{
    background: gray;
}
h1{
    text-align: center;
}

img[title="Water"]{
    width: 300px;
}
img[title="Shark"]{
    /* 2020.07.22
     * спецовка
     * 13:00 стажировка
     * */
	width: 200px;
}
a[href="https://yandex.ru"]{
    color: red;
}
a[href="https://mail.ru"]{
    color: black;
}
