body{
    background: aqua;
}
h1{
    text-align: center;
}

img[title="Water"]{
    width: 300px;
}
img[title="Shark"]{
    width: 200px;
/* 2020.07.21 Стажировка 13:00
 * Забрать потом из КГ документы
 * Стирать все футболки
 * */

}
a[href="https://google.com"]{               color: yellow; 
}
a[href="https://yandex.ru"]{
    color: black;
}
a[href="https://mail.ru"]{
    color: white;
}
footer {
	background: darkgrey;
}
